.slider {
  position: relative;
  width: 150px;
  border: solid 3px #008;
  margin: 0 auto;
  &__wind {
    width: 110px;
    border: solid 1px #000;
    // overflow: hidden;
    margin: 0 auto;
    cursor: grab;
  }
  &__track {
    display: flex;
    transform: translate3d(0px, 0px, 0px);
  }
  &__arrows {
    margin: 10px;
  }
}
