.slider {
  &__window {
    border: solid 2px #005;
    position: relative;
    width: 100px; //?
    margin: 0 auto;
    height: 100px;
    overflow: hidden;
  }
  &__arrows {
    width: min-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    button {
      margin: 10px;
    }
  }
}
